name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  RUST_DIR: rust-solver/
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      working-directory: ${{env.RUST_DIR}}
      run: cargo build --verbose
    - name: Run tests
      working-directory: ${{env.RUST_DIR}}
      run: cargo test --verbose
